.formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
}

.formGroup .required::after {
    content: "*";
    color: red;
    margin-left: 5px;
}

.formGroup label {
    font-weight: 500;
    font-size: 16px;
}

.formGroup > div {
    position: relative;
    width: 100%;

    &:focus-within .icon {
        color: var(--primary);
    }
}

.formGroup .icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: var(--text-dark-mute);
    font-size: 18px;
    transition: var(--transition);
}

.formGroup .passwordToggleIcon {
    position: absolute;
    top: 50%;
    right: 15px !important;
    left: unset !important;
    transform: translateY(-50%);
    color: var(--text-dark-mute);
    font-size: 18px;
    cursor: pointer;
    width: fit-content;
    animation: unset !important;
    background-color: transparent;
    border: none;
}

.formGroup .formControl {
    padding: 16px 20px 16px 45px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 15px;
    border: 2px solid #e8e8e8;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-dark);
    transition: var(--transition);

    &:hover {
        border-color: var(--primary-mute);
    }

    &:focus {
        outline: none;
        border-color: var(--primary);
        box-shadow: 0 0 4px var(--primary);
    }
}

.formGroup .formControl[type='password'] {
    padding-right: 45px;
}