.button {
    border-radius: 5px;
    background: var(--primary-gradient);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 20px;
}

.button:disabled {
    cursor: not-allowed !important;
    opacity: 0.5;
}