:root {
    --primary: #01b8e0;
    --text-dark: #1e293b;
    --text-dark-mute: #64748b;
    --container-border-radius: 10px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}